<com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>
  <scope>GLOBAL</scope>
  <id>jenkins-github-read-write-user</id>
  <description>Github user for RW operations</description>
  <username>{{GIT_ID}}</username>
  <password>{{GIT_TOKEN}}</password>
</com.cloudbees.plugins.credentials.impl.UsernamePasswordCredentialsImpl>