<org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl plugin="plain-credentials@1.4">
    <scope>GLOBAL</scope>
    <id>{{jenkins_git_secret_text}}</id>
    <description></description>
    <secret>{{GIT_TOKEN}}</secret>
</org.jenkinsci.plugins.plaincredentials.impl.StringCredentialsImpl>